<module name="FDSModule" class ="org.intalio.tempo.workflow.fds.module.FDSModule">
    <Description>UBP-TMP-Mediator</Description>
    <InFlow>
        <handler name="FDSInHandler" class="org.intalio.tempo.workflow.fds.module.FDSInHandler">
            <order phase="FDS" />
        </handler>
    </InFlow>

    <OutFlow>
        <handler name="FDSOutHandler" class="org.intalio.tempo.workflow.fds.module.FDSOutHandler">
            <order phase="FDS" />
        </handler>
    </OutFlow>

</module>