<?xml version="1.0" encoding="UTF-8" ?>
<!-- 
  Copyright (c) 2005-2006 Intalio inc.
  
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html
  
  Contributors:
  Intalio inc. - initial API and implementation
-->
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
  <appender
    name="ConsoleAppender"
    class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
      <param
        name="ConversionPattern"
        value="%n%c{1}.%M()%n%d{HH:mm:ss} %p: %m%n" />
    </layout>
  </appender>
  <category
    name="org.intalio.tempo.workflow" additivity="false">
    <appender-ref ref="ConsoleAppender" />
  </category>
  <root>
    <priority value="info" />
    <appender-ref ref="ConsoleAppender" />
  </root>
</log4j:configuration>
