<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p - %c:%L - %m%n"/>
		</layout>
	</appender>
	<appender name="logfile" class="org.apache.log4j.FileAppender">
		<param name="File" value="bpms-console.log"/>
		<param name="Append" value="true"/>
		<param name="Encoding" value="UTF-8"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p - %c:%L - %m%n"/>
		</layout>
	</appender>
	<category name="com.intalio.bpms">
		<priority value="INFO"/>
	</category>
	<category name="org.intalio.tempo">
		<priority value="INFO"/>
	</category>
	<category name="org.apache.commons">
		<priority value="WARN"/>
	</category>
	<category name="org.apache">
		<priority value="WARN"/>
	</category>
	<category name="org.springframework">
		<priority value="WARN"/>
	</category>
	<root>
		<appender-ref ref="console"/>
	</root>
</log4j:configuration>
