.io-login-page
{
	overflow: hidden;
}

.io-login-header 
{
	width : 100%;
	height: 60px;
	position:absolute;
	top:0px;
	left:0; 
	background-color:#FFFFFF;
}

.io-login-header-image
{position:absolute;
	top:10px;
	left:20px;
	height:30px;
	width:100px;
}

.io-login-loginbox 
{
	top: 30%;
	left: 20%;
	background-color: #F0F0F0;
	border-color: #E9F1F4 #D8DEE2 #D8DEE2;
	border-radius: 3px 3px 3px 3px;
	border-style: solid;
	border-width: 4px 10px 4px 10px;
	overflow: hidden;
	position:absolute;
	width:540px;
	height:120px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border: 1px groove #003399;
}
 
.io-login-footer 
{
	height: 10px;
	border: 0px;
	position:absolute;
	bottom:0px;
	left:0;
	width:100%; 
}

.io-login-box-heading
{
	background-color: #405A6A;
	border-color: #E9F1F4 #D8DEE2 #D8DEE2;
	border-style: solid;
	border-width: 1px 1px 2px;
	height:45px;
	width : 100%;
	position : absolute;
	top :0;
	left:0;
	color: #FFFFFF;
	font-size: 16px;
	font-weight: bold;
}
.io-login-box-content
{
	width: 100%;
	border : 0;
	cellpadding : 0;
	cellspacing :0 ;

}
.io-login-footer-link
{
	color: #000000;
}
.io-login-loginBox-userName
{
	position:absolute; left:20px; top:50px;width: 200px; height: 30px; tabindex=1;
	font : 16px;

}
.io-login-loginBox-password
{
	position:absolute; left:230px; top:50px;width: 200px; height: 30px; tabindex=2;
}
.io-login-loginBox-autoLoginchk
{
	position:absolute; left:20px; top:145px;tabindex=4;
}
.io-login-loginBox-autoLogin
{
	position:absolute; 
}
.io-login-loginBox-submit
{
	color:#fff;
	position:absolute; 
	left:440px; 
	top:50px;
	tabindex=3;

}
.io-login-newbody
{
 	background-image: url('images/newbg.gif');
}


