#tabnav
{
	position : relative;
	margin: 0px;
	padding-left: 10px;
	padding-bottom: 10px;
	float: left;
	text-align:center;
	margin-bottom: 0px;
	
}

#tabnav li
{
	margin: 0; 
	padding: 0;
	display: inline;
	list-style-type: none;
	width:150px;
	
}

#tabnav a:link, #tabnav a:visited
{
	float:left;
	font-size: 12px;
	line-height: 14px;
	font-weight: italic;
	padding: 4px 10px 2px 10px;
	margin-right: 4px;
	border: 1px solid #CCCCCC;
	text-decoration: none;
	color: #000;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	font-family : Verdana;
}

#tabnav a:link.active, #tabnav a:visited.active
{
	float:left;
	font-size: 12px;
	line-height: 14px;
	font-weight: italic;
	padding: 4px 10px 2px 10px;
	margin-right: 4px;
	border: 1px solid #CCCCCC;
	text-decoration: none;
	color: #000;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	background-color: #D8D8D8;
	font-family : Verdana;
}

#tabnav a:hover
{
	background: #FFFFFF;
	color:#000;
}
