#tabnav
{
	height: 20px;
	margin: 0px;
	padding-left: 10px;
	float: left;
}

#tabnav li
{
	margin: 0; 
	padding: 0;
	display: inline;
	list-style-type: none;
	font-size: 9px;
}

#tabnav a:link, #tabnav a:visited
{
	float: left;
	display: inline;
	background: #f3f3f3;
	font-size: 10px;
	line-height: 14px;
	font-weight: bold;
	padding: 2px 10px 2px 10px;
	margin-right: 4px;
	border: 1px solid #E3E4FA;
	text-decoration: none;
	color: #666;
}

#tabnav a:link.active, #tabnav a:visited.active
{
	border-bottom: 1px solid #fff;
	display: inline;
	background: #fff;
	color: #000;
	float: left;
	font-size: 10px;
	line-height: 14px;
	font-weight: bold;
	padding: 2px 10px 2px 10px;
	margin-right: 4px;
}

#tabnav a:hover
{
	background: #fff;
}
