<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app id="com.intalio.bpms.wds">
  <display-name>Intalio|BPMS Workflow Data Migration Service</display-name>

  <servlet>
    <servlet-name>DatabaseMigrationService</servlet-name>
    <servlet-class>org.intalio.tempo.persistence.DataMigrationServlet</servlet-class>
    <init-param>
      <param-name>migrationConfigLocation</param-name>
      <param-value>file:${org.intalio.tempo.configDirectory}/tempo-migrate.properties</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>DatabaseMigrationService</servlet-name>
    <url-pattern>/migrate</url-pattern>
  </servlet-mapping>

</web-app>
