<?xml version="1.0" encoding="UTF-8"?>
<web-app id="bpms-ui-fw" version="2.4"
    xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <display-name>Intalio|BPMS User Interface Framework</display-name>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

	<!--  
    <context-param>
        <param-name>contextClass</param-name>
        <param-value>org.intalio.tempo.web.SysPropWebApplicationContext</param-value>
    </context-param>

	
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>file:${org.intalio.tempo.configDirectory}/tempo-ui-fw.xml</param-value>
    </context-param>
 	 -->
    <!-- servlet -->

	<servlet>
		<servlet-name>ViewRendererServlet</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.ViewRendererServlet
		</servlet-class>
		
	</servlet>

	<servlet-mapping>
		<servlet-name>ViewRendererServlet</servlet-name>
		<url-pattern>/WEB-INF/servlet/view</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UifwPortlet</servlet-name>
		<servlet-class>
			org.apache.pluto.core.PortletServlet
		</servlet-class>
		<init-param>
			<param-name>portlet-name</param-name>
			<param-value>UifwPortlet</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>UifwPortlet</servlet-name>
		<url-pattern>/PlutoInvoker/UifwPortlet</url-pattern>
	</servlet-mapping>
    <!-- 
    <servlet>
        <servlet-name>springapp</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>file:${org.intalio.tempo.configDirectory}/tempo-ui-fw-servlet.xml</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>springapp</servlet-name>
        <url-pattern>*.htm</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>versionsServlet</servlet-name>
        <servlet-class>org.intalio.tempo.uiframework.versions.BpmsVersionsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>versionsServlet</servlet-name>
        <url-pattern>/versions</url-pattern>
    </servlet-mapping>
    -->

    <!-- Welcome File List -->


    <!--  
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/genError.jsp</location>
    </error-page>

    <jsp-config>
        <jsp-property-group>
            <url-pattern>/WEB-INF/jsp/*</url-pattern>
            <el-ignored>false</el-ignored> -->
            <!-- When serveler container will suport JSP 2.1
            <trim-directive-whitespaces>true</trim-directive-whitespaces>
             -->
             <!-- 
        </jsp-property-group>
    </jsp-config>

    <locale-encoding-mapping-list>
        <locale-encoding-mapping>
            <locale>en</locale>
            <encoding>UTF-8</encoding>
        </locale-encoding-mapping>

        <locale-encoding-mapping>
            <locale>ua</locale>
            <encoding>UTF-8</encoding>
        </locale-encoding-mapping>
    </locale-encoding-mapping-list>
     -->
</web-app>
