<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app id="com.intalio.bpms.wds">
  <display-name>Process Automatic Startup Servlet</display-name>

  <servlet>
    <servlet-name>Process Automatic Startup Servlet</servlet-name>
    <servlet-class>org.intalio.sita.AutomaticStartupServlet</servlet-class>
    <load-on-startup>10</load-on-startup>
  </servlet>

</web-app>
