h1 {
	font: small-caps bold 20px verdana center
}

body {
	font: 10px verdana italic;
}

table {	
	border-collapse: collapse; 
	background-color: #99CCFF;
	font: 9px verdana;
	width: 600px;
}

table.tasks {
	background-color: #99CCFF;
	border-collapse: collapse; 
	font: 9px verdana;
	width: 600px;
}

table.items {
	background-color: #99CCFF;
	border-collapse: collapse; 
	font: 9px verdana;
	width: 600px;
}

td.failure {
	background-color: red;
	width: 50px;
}
td.success {
	background-color: #6699FF;
	width: 50px;
}


button {
	bgcolor: green;
	font: 9px;
}

img {
    float:right
}