<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<!-- $Id: log4j.xml 4535 2006-05-11 12:04:00Z imemruk $ -->
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%-5p [%F:%L] %n%m%n%n" />
		</layout>
	</appender>

	<appender name="logfile" class="org.apache.log4j.FileAppender">
		<param name="File" value="fds.log" />
		<param name="Append" value="true" />
		<param name="Encoding" value="UTF-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%n%d{yyyy-MM-dd HH:mm:ss} %-5p - %c:%L %n%m%n" />
		</layout>
	</appender>

	<category name="org.intalio.tempo.workflow.tas" additivity="false">
		<priority value="debug"/>
		<appender-ref ref="console"/>
	</category> 	
	
	<root>
		<priority value="info" />
		<appender-ref ref="console" />
	</root>
	
</log4j:configuration>
